<nav class="nav-sign">
  <!-- <%= link_to 'Home', images_path %> -->

  <% if @current_user.present? %>
    <%= link_to "Edit profile", edit_user_path(@current_user) %>
    <%= link_to "Sign out #{ @current_user.name }", login_path, :method => 'delete' %>
  <% else %>
    <%= link_to 'Sign up', new_user_path, :class => "btn btn-default btn-lg" %>
    <!-- <%= link_to 'Sign in', login_path %> -->
  <% end %>
</nav>
<div class="sign-container">
<h1 class="adven-title">Adventurous</h1>

<div class = "table">
<% if flash[:error].present? %>
  <p class="error">
    <%= flash[:error] %>
  </p>
<% end %>

<%= form_tag login_path do %>

<fieldset>
  <%= email_field_tag :email, nil, :placeholder => 'Email' %>
</fieldset>
<fieldset>
  <%= password_field_tag :password, nil, :placeholder => 'Password'%>
</fieldset>
<fieldset>
  <%= submit_tag 'Login', :class => 'submit' %>
</fieldset>
<% end %>
</div>
</div>
