<nav>

  <a href="/images">
    <img src="/assets/home-icon.png" class="home-icon">
  </a>
</nav>

<div class="sign-container">

  <h1>Edit user</h1>
  <div class="table">

    <%= form_for @user do |f| %>
    <fieldset>
      <%= f.label :email%>
      <%= f.email_field :email, :placeholder => 'Email' %>
    </fieldset>

    <fieldset>
      <%= f.label :password%>
      <%= f.email_field :password, :placeholder => 'Password' %>
    </fieldset>

    <div class="submit">
      <label></label>
      <fieldset>
        <%= f.submit "Edit", :class => "button" %>
      </fieldset>

      <% end %>
    </div>
    <!--submit-->

  </div>
  <!--sign-container-->
