<div class="cover-photo">
  <a href="/"><h1 class="page-image-title">Adventurous</h1></a>
  <hr>
</div>
<div class="info-nav">
  <!-- <a href="/images">
    <img src="/assets/hamburger.png"  class="hamburger-icon">
  </a> -->
  <div id="nav-icon1">
  <span></span>
  <span></span>
  <span></span>
</div>

  <%= link_to 'Home', root_path, :class => "home-nav" %>
  <%= link_to "Add Image", new_image_path, :class => "home-nav" %>
  <!-- <% if @current_user.present? %> -->
    <%= link_to "Edit profile", edit_user_path(@current_user), :class => "home-nav"%>
    <%= link_to "Sign out #{ @current_user.name }", login_path, :method => 'delete', :class => "home-nav" %>
  <!-- <% else %>
    <%= link_to 'Sign up', root_path %>


  <% end %> -->
</div>
<div class="round"></div>



<div class="all_img_container-container">
<div class="all_img_container">

<% @images.each do |i|%>
<!-- <div class="square-img"> -->
  <a href="/images/<%= i.id %>">
<%= image_tag i.image, :class => "all_img"%>
</a>
<!-- </div> -->

<% end %>
</div>
</div>
