<div class="div-back-title">
  <a href="/">
    <h1 class="page-image-title">Adventurous</h1>
  </a>
  <hr>
</div>
<div class="info-nav">

  <div id="nav-icon1">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="hiddenMenu">
    <div class="ham-icon">Home</div>
    <div class="ham-icon">Add Image</div>
    <div class="ham-icon">Edit profile</div>
    <div class="ham-icon">Sign Out</div>
  </div>

  <%= link_to 'Home', root_path, :class => "home-nav" %>
  <%= link_to "Add Image", new_image_path, :class => "home-nav" %>

  <%= link_to "Edit profile", edit_user_path(@current_user), :class => "home-nav"%>
  <%= link_to "Sign out #{ @current_user.name }", login_path, :method => 'delete', :class => "home-nav" %>

</div>


<div class="all_img_container-container">
  <div class="all_img_container">

    <% @images.each do |i|%>

    <a href="/images/<%= i.id %>">

      <%= cl_image_tag i.image, :class => " all_img", :width=>300, :height=>300, :crop=>"fill"%>
    </a>

    <% end %>
  </div>
</div>
