<nav class="nav-sign">
  <%= link_to " #{ @current_user.name } Profile", images_path%>
  <% else %>
</nav>
<div class="sign-container">
<h1>Add your new image</h1>
<div class = "table">


<%= form_for @image, :html => {:multipart => true} do |f| %>

<fieldset>
  <%= f.label :name %>
  <%= f.text_field :name, :autofocus => true, :placeholder => "Name" %>
</fieldset>

<fieldset>
  <%= f.label :history %>
  <%= f.text_field :history, :placeholder => "History" %>
</fieldset>

<fieldset>
  <%= f.label :location %>
  <%= f.text_field :location, :placeholder => "Location" %>
</fieldset>

<fieldset>
  <%= f.label :image %>
  <%= f.file_field :image, :placeholder => "Image", :required => true%>
</fieldset>

</div>
<div class="submit">
<fieldset>
<label></label>
<%= f.submit "Create", :class => "button"  %>
</fieldset>
<% end %>

</div>
</div>
