<nav class="nav-sign">
  <%= link_to 'Home', users_path %>
</nav>
<div class="sign-container">
<h1>Add your new image</h1>
<div class = "table">
<%= form_for @image do |f| %>

<fieldset>
  <%= f.label :name %>
  <%= f.text_field :name, :autofocus => true, :placeholder => "Name" %>
</fieldset>

<fieldset>
  <%= f.label :history %>
  <%= f.text_field :history, :placeholder => "History" %>
</fieldset>

<fieldset>
  <%= f.label :location %>
  <%= f.text_field :location, :placeholder => "Location" %>
</fieldset>

<fieldset>
  <%= f.label :image %>
  <%= f.url_field :image, :placeholder => "Image", :required => true%>
</fieldset>

</div>
<div class="submit">
<fieldset>
<label></label>
<%= f.submit "Create" %>
</fieldset>
<% end %>

</div>
</div>
