<nav class="nav-sign">
  <a href="/images">
    <img src="/assets/home-icon.png"  class="home-icon">
  </a>
</nav>

<div class="sign-container">
<h1>Add your new image</h1>
<div class = "table">


<%= form_for @image, :html => {:multipart => true} do |f| %>

<fieldset>

  <%= f.text_field :name, :autofocus => true, :placeholder => "Name" %>
</fieldset>

<fieldset>

  <%= f.text_field :history, :placeholder => "History" %>
</fieldset>

<fieldset>
  
  <%= f.text_field :location, :placeholder => "Location" %>
</fieldset>

<fieldset>
  <%= f.file_field :image, :placeholder => "Image", :required => true%>
</fieldset>

</div><!--table-->
<div class="submit">
<fieldset>
<label></label>
<%= f.submit "Create", :class => "button"  %>
</fieldset>
<% end %>

</div><!--sign-container-->
</div><!--submit-->
