
<div id ="container">
  <div id = "main">
<%= link_to image_tag(@image.image, :class => 'main_img'), images_path %>
<%= link_to "Delete", image_path, :method => 'delete', :class => "link-under-image" %>
<%= link_to "Edit", edit_image_path, :class => "link-under-image" %>
  </div><!--main-->


     <div id ="aside">
<h1 class="comment-name "><%= @image.name %></h1>
<%= truncate(@image.history, :length => 200 )%>
<%= link_to "Read more", "https://en.wikipedia.org/w/index.php?search=#{@image.name}", :class => "a-black" %>
<h4>Location:<%= @image.location %></h4>
<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d13250.63834968143!2d151.20441605000002!3d-33.872662850000005!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sau!4v1504060234977" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>




   <pre class="comment-container">
     <% @image.comments.each do |comment|%>
     <p class="user-name"><%= comment.user.name %></p>
     <p><%= comment.content %></p>
     <% end %>
   </pre><!--comment-container-->

     <%= form_for Comment.new do |f| %>
     <%= f.label :comment, :class => "a-black" %>
     <%= f.text_area :content %>
     <%= hidden_field_tag :image_id, @image.id %>
     <%= f.submit 'create Comment', :class => 'create-button-comment'%>
     <% end %>



</div><!--container-->
</div><!--aside-->
