<nav>

    <a href="/images">
       <img src="/assets/icon-close.png" class="home-icon">
    </a>
</nav>

<div id="container">
  <div id="main">
    <h1><%= link_to @image.name,
     map_path(@image), :class => "place-name" %></h1>
    <%= link_to image_tag(@image.image, :class => 'main_img'), images_path %>
    <div class="a-under-image">
      <%= link_to "Delete", image_path, :method => 'delete', :class => 'a-grey' %>
      <%= link_to "Edit", edit_image_path, :class => 'a-grey' %>
    </div><!--a-under-image-->

  </div><!--main-->


  <div id="aside">
    <h1><%= link_to @image.name,
 map_path(@image), :class => "comment-name" %></h1>
    <%= truncate(@image.history, :length => 200 )%>
    <%= link_to "Read more", "https://en.wikipedia.org/w/index.php?search=#{@image.name}", :class => "a-grey-comment" %><hr/>
    <h4 class="a-grey-comment">Find location<%= link_to @image.location, map_path(@image), :class => "a-black" %></h4><hr/>

    <div class="comment-container">
      <div class="border">
      <% @image.comments.each do |comment|%>
      <p class="user-name"><%= comment.user.name %></p>
      <p><%= comment.content %></p><hr/>
      <% end %>
    </div><!--border-->
    </div><!--comment-container--><hr/>
    <div class="comment-div">
      <%= form_for Comment.new do |f| %>
      <%= f.label :comment, :class => "a-black" %>
      <%= f.text_area :content %>
      <%= hidden_field_tag :image_id, @image.id %>
      <%= f.submit 'create Comment', :class => 'create-button-comment'%>
    </div>
    <% end %>

  </div>
  <!--container-->
</div>
<!--aside-->
