<!DOCTYPE html>
<html>
  <head>
    <title>Adventurous</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="<%= params[:controller] %>-<%= params[:action] %>">
    <!-- its give you different class name for each page which you should give the source the page and find the class name and style your page. -->
    <%= yield %>

  </body>
</html>
